<h1>Users in group - {{group.name}}</h1>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Login</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
    </tr>
    </thead>
    <tbody>
    {{#if group.artists.length}}
        {{#each group.artists}}
            <tr>
                <th scope="row">{{this.id}}</th>
                <td>{{this.login}}</td>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
            </tr>
        {{/each}}
    {{else}}
        <p>{{group.name}} haven't users.</p>
    {{/if}}
    </tbody>
</table>
